
header {
    margin: 0;
}

/*.logo {*/
/*    background: url("../images/logo.jpg");*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    height: 60px;*/
/*    width: 33%;*/
/*}*/

.face {
    background: url("../images/updatelogo.png");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}

.slides {
    background: url("../images/patreon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.nav-item {
    text-transform: uppercase;
}



