
header {
    margin: 0;
}

.face {
    background: url("../images/bald1.png");
    height: 200px;
    border: 5px solid #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

/* --------------------------- Slide Gallery */

/* --- CSS Animation code found on Youtube - link in README.md */

.slides {
    position: relative;
    background: url("../images/scroll.png");
    background-size: cover;
    background-position: 0 0;
    animation: animate 5s linear infinite;
    animation-direction: alternate;
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}


/* --------------------------- NAV BAR */


.nav-item {
    text-transform: uppercase;
}

.nav-item  a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
}

/* --------------------------- BIO SECTION */

.smile {
    background: url("../images/ajr.jpg");
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.bio {
    background-color: pink;
    padding: 20px;
}

/* --------------------------- BOOKS SECTION */

.sigil-image {
    background:url("../images/sigily.jpg");
    height: 300px;
    background-size: cover;
}

.yage-image {
    background:url("../images/yage.jpg");
    height: 300px;
    background-size: cover;
}

.rot-image {
    background:url("../images/ROT.jpg");
    height: 300px;
    background-size: cover;
    border: 1px solid black;
}

.path-image {
    background:url("../images/PF.RF.jpg");
    height: 300px;
    background-size: cover;
}

.rl-image {
    background:url("../images/rl.jpg");
    height: 300px;
    background-size: cover;
}

.ss-image {
    background:url("../images/spec.jpg");
    height: 300px;
    background-size: cover;
}

.books {
    background-color: yellow;
    padding: 20px;
}

/*----------------------- BLOG section*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-blog-item {
  padding: 2px 16px 10px 16px;
}

/*---- 'criticism' image courtesy of https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3083099 ---*/

.blog-images {
    height: 250px;
    background-size: cover;
}

h3 {
    padding-top: 15px;
}

#button {
    text-align: center;
}

button {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
  background-color: #34b1eb;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.blog {
    background-color: gray;
    padding: 20px;
}

/*----------------------- FREE section*/

/*img for ref - <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@impatrickt?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Patrick Tomasso"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Patrick Tomasso</span></a>*/

/*.free-container {*/
/*    background:url("../images/unsplash.jpg");*/
/*    padding: 0;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*}*/

.free {
    background:url("../images/unsplash.jpg");
    height: 210px;
    padding: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    padding: 16px 32px;
}

/*----------------------- FORM section - https://www.w3schools.com/css/css_form.asp */

input[type=text] {
  width: 50%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email] {
  width: 50%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form {
    text-align: right;
    height: 350px;
    padding-right: 100px;
    padding-top: 20px;
    border: 1px solid gray;
}

/*----------------------- FOOTER section*/

.footer {
    background: orange;
}

